In [166]:
import pandas as pd

In [167]:
df=pd.read_csv('iphone6-negative.csv',encoding='latin-1')

stop_words=open('stopwords.txt','r').read()
df.head()

,TweetID,User_ID,Text,Sentiment
0,6.473990e+17,Rionagh,I've had an IPhone for like 3 years and I've n...,negative
1,6.473990e+17,your highness,I dont need the new iphone but I want it :(,negative
2,6.473990e+17,Little Liggins,fuck the iPhone 6s cus I'm not getting one :(,negative
3,6.474000e+17,NaN,Hopefully will be able to get my iPhone 6s tod...,negative
4,6.474000e+17,Kenny Tosh,@clydesdalebank I've just bought a new iPhone ...,negative

In [168]:
df=df[['Text','Sentiment']]

In [169]:
def denoise(text):
    return re.sub('[^a-zA-Z]*',',text').strip()

In [170]:
def stopwords_remove(text):
    text=text.lower()
    words=text.split(' ')
    clean_words=[]
    for word in words:
        if word in stop_words:
            pass 
        else:
            clean_words.append(word)
    text=' '.join(clean_words) 
    return text

In [171]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,y_train)
print(lr.score(x_test,y_test))

0.8725099601593626

In [172]:
from nltk.stem import PorterStemmer
ps=PorterStemmer()
import nltk
def stemm(text):
    clean_text=''
    for word in text.split():
        clean_text +=" "+ ps.stem("word")
        return text

In [173]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,y_train)
print(lr.score(x_test,y_test))

0.8804780876494024

In [174]:
#text='fuck the iPhone 6s cus Im not getting one :'

In [175]:
def mod (text):
    denoise(text)
    stopwords_remove(text)
    stemm(text)
    return text

In [176]:
text

'fuck the iPhone 6s cus Im not getting one :'

In [177]:
from sklearn.feature_extraction.text import TfidfVectorizer
Tf_idf=TfidfVectorizer()
clean_text=Tf_idf.fit_transform(df.Text).toarray()

In [178]:
df.head()

                                                Text Sentiment
0  I've had an IPhone for like 3 years and I've n...  negative
1        I dont need the new iphone but I want it :(  negative
2      fuck the iPhone 6s cus I'm not getting one :(  negative
3  Hopefully will be able to get my iPhone 6s tod...  negative
4  @clydesdalebank I've just bought a new iPhone ...  negative

In [179]:
df.Text.apply(stopwords_remove)          ##to applay afunction on all data

0       i've iphone like 3 years i've never done :( ha...
1                            dont need new iphone want :(
2                   fuck iphone 6s cus i'm getting one :(
3       hopefully able get iphone 6s today :(\n\nplane...
4       @clydesdalebank i've bought new iphone can't a...
5       new iphone today mine doesn't come next week :...
6                     also work iphone launch t-mobile :(
7       @o2 ended ringin break.. ordered iphone 6s com...
8       @reviewero iphone 5 best iphone ever. makes fe...
9       @mitsuhiko scared update ios9 don't know means...
10      high chance iphone get home :( think missed de...
11      @johnlegere . inventory iphone 6splus 128gb ro...
12               need iphone back lol can't fade phone :(
13          everyone talking iphone day, studying exam :(
14      @3minutegames upgraded iphone 6s today, restor...
15      @sprintnews mad didn't know direct 2 option ip...
16      @ee wife's phone. i'm stuck o2 service next ye...
17      grrrrrrr got new iphone won't connect work (an...
18      wish i'd waited months got iphone 6s instead 6...
19      @polarglobal polar beat still doesn't work pol...
20             want iphone 6s :(\nhttps://t.co/lv6ml03if6
21      @katoi wasn't even iphone! :( never got order ...
22      @flinto problems scrolling flinto prototype ip...
23      woke really early get line iphone 6s theres on...
24      annoyed apple haven't let set parcel drop-off ...
25      @tim_cook please consider options (black) ipho...
26             sick today :( however get new iphone 6s!!!
27                            trop cool sur iphone idk :(
28                                       iphone sticky :(
29      apple makes feel happiest boy world, even ipho...
                              ...
972     farrah brenan : badquintana wanna get free iph...
973     anand devlia : slumdogswag wanna get free ipho...
974     favorite ex : _alyyshae wanna get free iphone ...
975     raul : cosmic_raul wanna get free iphone 6? ki...
976     crown : kingchrispy233 wanna get free iphone 6...
977     youngnipÂ¢note : hustletreesg wanna get free ip...
978     rapunzel : annitude_ wanna get free iphone 6? ...
979     kevin martel : ksmarts wanna get free iphone 6...
980     ashley : 6040472ashley wanna get free iphone 6...
981     lex : _shortsilmon wanna get free iphone 6? ki...
982     big man : thomascox24 wanna get free iphone 6?...
983     corey : corwill335 wanna get free iphone 6? ki...
984     #topshootas : ddevonn23 wanna get free iphone ...
985     bri : _brinababe wanna get free iphone 6? kind...
986     fabs : fabiagledhill wanna get free iphone 6? ...
987     markcleope : mcislegit wanna get free iphone 6...
988     monica : monicatheshort1 wanna get free iphone...
989     dan webb : danwrong wanna get free iphone 6? k...
990     raphael salen : rpbeta wanna get free iphone 6...
991     davis : davis_hope wanna get free iphone 6? ki...
992                                  feels nice iphone :)
993                         anyone get iphone6s plus :) ?
994     @pomeranian99 "international" news september 2...
995     end : nomnomqondiso want get free iphone 6? pl...
996     dyamondzr4eva : jmsdway want get free iphone 6...
997     solihin : muhdsolihin23 want get free iphone 6...
998     andi n. : inlovewithcamd_ want get free iphone...
999     nia : deluxechaelin want get free iphone 6? pl...
1000    jbm . : tuesdaybleu want get free iphone 6? pl...
1001    adam crandall : adamkcrandall want get free ip...
Name: Text, Length: 1002, dtype: object

In [180]:
from sklearn.feature_extraction.text import CountVectorizer

In [181]:
cv = CountVectorizer()

In [182]:
x = cv.fit_transform(df.Text)

In [183]:
from sklearn.preprocessing import LabelEncoder 
le=LabelEncoder()
y=le.fit_transform(df.Sentiment)

In [184]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [185]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,y_train)
print(lr.score(x_test,y_test))

0.900398406374502